{% extends 'base.html' %}

{% block content %}
<div class="min-h-screen bg-[#242831] text-slate-100 font-inter">
    <div class="container mx-auto py-12 px-4">
        <h2 class="text-center text-4xl font-bold mb-8">Daftar Favorit</h2>

        <style>
            table {
                border-collapse: collapse;
                width: 100%; /* Full width for better visibility */
                background-color: #333845; /* Darker table background */
            }
            th, td {
                border: 1px solid #777; /* Lighter border color */
                padding: 8px;
                text-align: left;
                color: white; /* White text color for readability */
            }
            th {
                background-color: #50555c; /* Darker header background */
            }
            .remove-button {
                background-color: #f44336; /* Red background for delete button */
                border: none;
                color: white;
                padding: 6px 10px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 14px;
                cursor: pointer;
                border-radius: 4px; /* Rounded corners */
            }
            .remove-button:hover {
                background-color: #d32f2f; /* Darker red on hover */
            }
        </style>

        <table class="w-full text-left rounded-lg overflow-hidden">
            <thead>
                <tr>
                    <th>Judul Daftar Favorit</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                {% if details %}
                <tr class="border-t border-gray-700">
                    <td>{{ details }}</td>
                    <td>
                        <form action="{% url 'remove_detail' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="username" value="{{ user }}">
                            <input type="hidden" name="timestamp" value="{{ timestamp }}">
                            <input type="hidden" name="id_tayangan" value="{{ id }}">
                            <button type="submit" class="remove-button">Hapus</button>
                        </form>
                    </td>
                </tr>
                {% endif %}
                {% if not details %}
                <tr>
                    <td colspan="4">Tidak ada film favorit yang ditemukan.</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
