{% extends 'base.html' %}

{% block content %}
<div class="min-h-screen bg-[#242831] text-slate-100 font-inter">
    <div class="container mx-auto py-12 px-4">
        <h2 class="text-center text-4xl font-bold mb-8">Halaman Kelola Langganan</h2>

        <style>
            table {
                border-collapse: collapse;
                width: 100%;
                background-color: #333845; /* Slightly darker table background */
            }
            th, td {
                border: 1px solid #777; /* Lighter border color */
                padding: 8px;
                text-align: left;
                color: white; /* White text color for readability */
            }
            th {
                background-color: #50555c; /* Darker header background */
                text-align: center;
            }
        </style>

        <h3 class="text-2xl font-semibold mb-4">Paket Langganan Aktif Anda:</h3>
        <div class="overflow-x-auto mb-8">
            <table class="w-full text-left rounded-lg overflow-hidden">
                <thead class="bg-[#333845] text-white">
                    <tr>
                        <th class="py-3 px-4">Nama Paket</th>
                        <th class="py-3 px-4">Harga</th>
                        <th class="py-3 px-4">Resolusi Layar</th>
                        <th class="py-3 px-4">Dukungan Perangkat</th>
                        <th class="py-3 px-4">Tanggal Dimulai</th>
                        <th class="py-3 px-4">Tanggal Akhir</th>
                    </tr>
                </thead>
                <tbody class="bg-[#333845]">
                    {% if transaksi_data_aktif %}
                        {% for transaksi in transaksi_data_aktif %}
                        <tr class="border-t border-gray-700">
                            <td class="py-2 px-4">{{ transaksi.nama_paket }}</td>
                            <td>{{ transaksi.harga }}</td>
                            <td>{{ transaksi.resolusi_layar }}</td>
                            <td>{{ transaksi.dukungan_perangkat|join:", " }}</td>
                            <td>{{ transaksi.start_date_time }}</td>
                            <td>{{ transaksi.end_date_time }}</td>
                        </tr>
                        {% endfor %}
                    {% else %}
                    <tr class="border-t border-gray-700">
                        <td class="py-2 px-4">-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>

        <h3 class="text-2xl font-semibold mb-4">Pilih Paket Lain:</h3>
        <div class="overflow-x-auto mb-8">
            <table class="w-full text-left rounded-lg overflow-hidden">
                <thead class="bg-[#333845] text-white">
                    <tr>
                        <th class="py-3 px-4">Nama Paket</th>
                        <th class="py-3 px-4">Harga</th>
                        <th class="py-3 px-4">Resolusi Layar</th>
                        <th class="py-3 px-4">Dukungan Perangkat</th>
                        <th class="py-3 px-4">Beli</th>
                    </tr>
                </thead>
                <tbody class="bg-[#333845]">
                    {% for paket in paket_data %}
                    <tr class="border-t border-gray-700">
                        <td class="py-2 px-4">{{ paket.nama }}</td>
                        <td>{{ paket.harga }}</td>
                        <td>{{ paket.resolusi_layar }}</td>
                        <td>{{ paket.dukungan_perangkat|join:", " }}</td>
                        <td><a href="{% url 'beli_paket' paket.nama %}" class="inline-block px-4 py-2 text-center text-black bg-red-300 hover:bg-pink-300 rounded-md">Beli</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <h3 class="text-2xl font-semibold mb-4">Riwayat Transaksi:</h3>
        <div class="overflow-x-auto mb-8">
            <table class="w-full text-left rounded-lg overflow-hidden">
                <thead class="bg-[#333845] text-white">
                    <tr>
                        <th class="py-3 px-4">Nama Paket</th>
                        <th class="py-3 px-4">Tanggal Dimulai</th>
                        <th class="py-3 px-4">Tanggal Akhir</th>
                        <th class="py-3 px-4">Metode Pembayaran</th>
                        <th class="py-3 px-4">Total Pembayaran</th>
                    </tr>
                </thead>
                <tbody class="bg-[#333845]">
                    {% for transaksi in transaksi_data %}
                    <tr class="border-t border-gray-700">
                        <td class="py-2 px-4">{{ transaksi.nama_paket }}</td>
                        <td>{{ transaksi.start_date_time }}</td>
                        <td>{{ transaksi.end_date_time }}</td>
                        <td>{{ transaksi.metode_pembayaran }}</td>
                        <td>{{ transaksi.harga }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
