<nav class="sticky top-0 z-10 bg-darkaccent font-lato">
    <div class="flex items-center justify-between px-8">
        <div class="flex items-center">
            <div class="py-6 mr-4">
                {% if not request.session.is_logged_in %}
                <a href="/" class="inline font-bold text-2xl text-white">
                    <span class="bg-gradient-to-r from-red-500 to-pink-500 text-transparent bg-clip-text">PacilFlix</span> - D6
                </a>
                {% else %}
                <span class="inline font-bold text-2xl text-white">
                    <span class="bg-gradient-to-r from-red-500 to-pink-500 text-transparent bg-clip-text">PacilFlix</span> - D6
                </span>
                {% endif %}
            </div>

            <div class="flex font-semibold items-center text-white gap-12 pl-14">
                {% if not request.session.is_logged_in %}
                <a class="nav-btn relative after:content-[''] after:bg-white after:h-[2px] after:w-[0%] after:left-0 after:-bottom-[5px] after:rounded-xl after:absolute after:duration-300" href="/trailer/">Trailers</a>
                {% else %}
                <a class="nav-btn relative after:content-[''] after:bg-white after:h-[2px] after:w-[0%] after:left-0 after:-bottom-[5px] after:rounded-xl after:absolute after:duration-300" href="/tayangan/">Shows</a>
                <a class="nav-btn relative after:content-[''] after:bg-white after:h-[2px] after:w-[0%] after:left-0 after:-bottom-[5px] after:rounded-xl after:absolute after:duration-300" href="/ulasan/">Reviews</a>
                <a class="nav-btn relative after:content-[''] after:bg-white after:h-[2px] after:w-[0%] after:left-0 after:-bottom-[5px] after:rounded-xl after:absolute after:duration-300" href="/unduhan/">Downloads</a>
                <a class="nav-btn relative after:content-[''] after:bg-white after:h-[2px] after:w-[0%] after:left-0 after:-bottom-[5px] after:rounded-xl after:absolute after:duration-300" href="/favorit">Favorites</a>
                <a class="nav-btn relative after:content-[''] after:bg-white after:h-[2px] after:w-[0%] after:left-0 after:-bottom-[5px] after:rounded-xl after:absolute after:duration-300" href="#">Contributors</a>
                <a class="nav-btn relative after:content-[''] after:bg-white after:h-[2px] after:w-[0%] after:left-0 after:-bottom-[5px] after:rounded-xl after:absolute after:duration-300" href="#">Subscription</a>
                {% endif %}
            </div>
        </div>

        {% if request.session.is_logged_in %}
        <div class="flex items-center">
            <div class="flex items-center mr-6">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-6 h-6 mr-2 text-white" viewBox="0 0 24 24">
                    <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
                </svg>
                <p class="font-medium text-white">{{ request.session.username }}</p>
            </div>
            <a href="/logout" class="text-white hover:text-red-500 duration-100 pl-6">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <title id="title">Logout</title>
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-9A2.25 2.25 0 0 0 2.25 5.25v13.5A2.25 2.25 0 0 0 4.5 21h9a2.25 2.25 0 0 0 2.25-2.25V15M22.5 12h-10m10 0-4-4m4 4-4 4"/>
                </svg>                  
            </a>
        </div>
        {% endif %}
    </div>
</nav>
