{% extends 'base.html' %}

{% block content %}
<div class="min-h-screen bg-[#242831] text-slate-100 font-inter">
    <div class="container mx-auto py-12 px-4">
        <h2 class="text-center text-4xl font-bold mb-8">Film</h2>

        <style>
            table {
                border-collapse: collapse;
                width: 100%;
                background-color: #333845; /* Slightly darker table background */
            }
            th, td {
                border: 1px solid #777; /* Lighter border color */
                padding: 8px;
                text-align: left;
                color: white; /* White text color for readability */
            }
            th {
                background-color: #50555c; /* Darker header background */
            }
        </style>
        {% for film in films %}
        Judul: {{ film.judul }}
        <form action="#" method="post">
            {% csrf_token %}
            <button type="submit" class="ml-4 bg-pink-500 hover:bg-red-500 text-white font-bold py-2 px-4 rounded">Tonton</button>
        </form>
        <form action="#" method="post">
            {% csrf_token %}
            <button type="submit" class="ml-4 bg-pink-500 hover:bg-red-500 text-white font-bold py-2 px-4 rounded">Unduh</button>
        </form>
        <form action="#" method="post">
            {% csrf_token %}
            <button type="submit" class="ml-4 bg-pink-500 hover:bg-red-500 text-white font-bold py-2 px-4 rounded">Favorit</button>
        </form>



        Total View: {{ 0 }} <br>
        Rating Rata-Rata: {{ 0 }} <br>
        Sinopsis: {{ film.sinopsis }}<br>
        Durasi Film: {{ film.durasi_film }} <br>
        Tanggal Rilis Film: {{ film.release_date_film }} <br>
        URL Film: {{ film.url_video_film }} <br>
        Genre: {{ . }} <br>

        Asal Negara: {{ film.asal_negara }} <br>
        Pemain: {{ . }} <br>

        Penulis Skenario: {{ . }} <br>

        Sutradara: {{ . }} <br>

        <form action="{% url 'show_ulasan' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="ml-4 bg-pink-500 hover:bg-red-500 text-white font-bold py-2 px-4 rounded">Ulasan</button>
        </form>
        {% endfor %}
    </div>
</div>
{% endblock %}
