{% extends 'base.html' %}

{% block content %}
<div class="min-h-screen bg-[#242831] text-slate-100 font-inter">
    <div class="container mx-auto py-12 px-4">
        <h2 class="text-center text-4xl font-bold mb-8">Film</h2>

        <style>
            table {
                border-collapse: collapse;
                width: 100%;
                background-color: #333845; /* Slightly darker table background */
            }
            th, td {
                border: 1px solid #777; /* Lighter border color */
                padding: 8px;
                text-align: left;
                color: white; /* White text color for readability */
            }
            th {
                background-color: #50555c; /* Darker header background */
            }
        </style>
        {% for film in films %}
        Judul: {{ film.judul }}
        <form action="{% url '{{ film.url_video_film }}' %}" method="post">
            <button type="submit" class="button">Tonton</button>
        </form>
        <form action="{% url '#' %}" method="post">
            <button type="submit" class="button">Unduh</button>
        </form>
        <form action="{% url '#' %}" method="post">
            <button type="submit" class="button">Favorit</button>
        </form>



        Total View: {{ 0 }}
        Rating Rata-Rata: {{ 0 }}
        Sinopsis: {{ film.sinopsis }}
        Durasi Film: {{ film.durasi_film }}
        Tanggal Rilis Film: {{ film.release_date_film }}
        URL Film: {{ film.url_video_film }}
        Genre: {{ . }}

        Asal Negara: {{ film.asal_negara }}
        Pemain: {{ . }}

        Penulis Skenario: {{ . }}

        Sutradara: {{ . }}

        <form action="{% url 'show_ulasan' %}" method="post">
            <button type="submit" class="button">Ulasan</button>
        </form>
        {% endfor %}
    </div>
</div>
{% endblock %}
