{% extends 'base.html' %}

{% block content %}
<div class="min-h-screen bg-[#242831] text-slate-100 font-inter">
    <div class="container mx-auto py-12 px-4">
        <h2 class="text-center text-4xl font-bold mb-8">Hasil Pencarian</h2>

        <form method="get" class="flex justify-center mb-8">
            <input type="text" name="search" placeholder="Cari tayangan..." class="bg-[#333845] text-white border border-gray-700 p-2 rounded">
            <button type="submit" class="ml-4 bg-pink-500 hover:bg-red-500 text-white font-bold py-2 px-4 rounded">Cari</button>
        </form>

        <style>
            table {
                border-collapse: collapse;
                width: 100%;
                background-color: #333845; /* Slightly darker table background */
            }
            th, td {
                border: 1px solid #777; /* Lighter border color */
                padding: 8px;
                text-align: left;
                color: white; /* White text color for readability */
            }
            th {
                background-color: #50555c; /* Darker header background */
                text-align: center;
            }
        </style>
        
        <table class="w-full text-left rounded-lg overflow-hidden">
            <thead class="bg-[#333845] text-white">
                <tr>
                    <th class="py-3 px-4">Judul</th>
                    <th class="py-3 px-4">Sinopsis Trailer</th>
                    <th class="py-3 px-4">URL Trailer</th>
                    <th class="py-3 px-4">Tanggal Rilis Trailer</th>
                </tr>
            </thead>
            <tbody class="bg-[#333845]">
                <tr class="border-t border-gray-700">
                    <td>Siksa Neraka Jahanam</td>
                    <td>Kisah tersiksa seorang remaja tidak tau diri di dalam neraka</td>
                    <td>https://www.youtube.com/watch?v=UAuner0eWTE/td>
                    <td>20234-03-02</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
